* {
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.err-msg {
    color: red;
}

.hidden {
    display: none;
}

.wrapper {
    display: flex;
}

input {
    margin-right: 10px;
}

label {
    margin-right: 10px;
}

/* this should be re-coded to be mobile friendly first, then media queries for larger screens */